[mysqld]
# Pod jakým uživatelem v Linuxu databáze poběží
user = mysql
port = 3306
datadir = /var/lib/mysql

# TOHLE JE KLÍČOVÉ: Dovolí databázi přijímat spojení z jiných kontejnerů (z celé Docker sítě)
bind-address = 0.0.0.0
skip-networking = false