[mysqld]
# The Linux system user that runs the database daemon
user = mysql
port = 3306
datadir = /var/lib/mysql

# THIS IS CRUCIAL: Allows the database to accept connections from other containers across the Docker network
bind-address = 0.0.0.0
skip-networking = false